<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="cy.agorise.bitsybitshareswallet">

    <application
            android:allowBackup="true"
            android:icon="@drawable/bts_logo"
            android:label="@string/app_name"
            android:roundIcon="@drawable/bts_logo"
            android:supportsRtl="true"
            android:theme="@style/Theme.Bitsy"
            tools:ignore="GoogleAppIndexingWarning">
        <activity
                android:name=".activities.SplashActivity"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".activities.SettingsActivity"
                android:label="@string/title_settings">
        </activity>
        <activity android:name=".activities.SendTransactionActivity">
        </activity>
        <activity android:name=".activities.ReceiveTransactionActivity">
        </activity>
        <activity android:name=".activities.MainActivity"/>
        <activity android:name=".activities.LicenseActivity"/>
        <activity android:name=".activities.ImportBrainkeyActivity"/>
    </application>

</manifest>